@import '../../../styles/_colors.scss';

.sentiment {
    display: flex;
    gap: 2rem;

    .sentiment-emoji-container {
        position: relative;
        width: 5rem;
        height: 5rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
            color: $white--text;
        }

        .percent {
            color: $white--input-text;
        }
    }
}
