@import '../../styles/_animations.scss';

.home-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    animation: fade-in 0.2s ease-out;
    overflow: hidden;

    // .chat-menu {
    //     flex-basis: 35%;
    // }

    // .chat-message {
    //     flex-basis: 65%;
    // }
}

.home-page:has(.chat-menu):not(.home-page:has(.chat-message)) {
    .chat-menu {
        flex-basis: 100%;
    }

    // .chat-message {
    //     flex-basis: 65%;
    // }
}

.home-page:has(.chat-menu):has(.chat-message) {
    .chat-menu {
        flex-basis: 35%;
    }

    .chat-message {
        flex-basis: 65%;
    }
}
