@import '../../../styles/_colors.scss';

.input-box {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    // width: 32rem;
    // border-radius: 5px;
    // border: 1px solid $gray--outline;
    // padding: 1.2rem 1.6rem;
    // transition: border 0.2s ease;

    input {
        width: 100%;
    }

    .icon-button {
        height: fit-content;
        width: fit-content;

        svg {
            height: 75%;
            width: 75%;
        }

        &:hover {
            background-color: $hover--100;
        }
    }
}

.help-text {
    color: $white--popper-text;
    max-width: 25rem;
    background-color: $primary--600;
    padding: 1.2rem 1.6rem;
    box-shadow: 0px 0px 18px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
