@import '../../../styles/_colors.scss';

.menu-item {
    display: flex;
    gap: 0.6rem;
    width: 100%;
    align-items: center;
    padding: 0.4rem 1.2rem 0.4rem 0.4rem;
    transition: background-color 0.1s ease-out;

    &:hover {
        background-color: $primary--600;
    }

    .icon {
        scale: 0.8;
    }

    .text {
        color: $gray--text;
    }
}
