$white: #ffffff;
$white--text: #e0e9f7;
$white--input-text: #b3bdcc;
$white--popper-text: #b3bdcc;
$white--text--message--incoming: #c7d2e2;
$white--text--message--outgoing: #cedef5;
$white--button--icon: #e2e2e2;

$gray--text: #7e8796;
$gray--text--2: #5b626d;
$gray--outline: #374254;
$gray--outline--focus: #3c485b;
$gray--input-caret-color: #556072;
$gray--input-caret-color--2: #5f6b7e;
$gray--input--placeholder: #5a6371;

$primary--primary: #111d2f;
$primary--600: #293240;

$accent-primary: #3988ff;
$accent-600: #4c89e6;
$accent--text: #689ceb;
$accent--message--incoming: #293240;
$accent--message--outgoing: #435777;

$red--error--filled: #e02b2b;
$red--error--text: #de7676;
$red--error--outline: $red--error--text;

$hover--100: rgba(41, 50, 64, 0.6);
$hover--200: #2e3847;
$hover--300: $gray--outline;
$hover--400: #424d5f;

$backdrop--bg: rgba(6, 11, 20, 0.5);
$overlay--bg: #182436;

$border--separation: #232c3a;
